@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #0d0630;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 60%;
  border-radius: 20px;
  padding: 40px;
  margin: 50px 0;
}
@media screen and (max-width: 770px) {
  .login {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .login {
    width: 95%;
  }
}

.login * {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0 15px 0;
}

.login-btn-container {
  display: flex;
}

.social-container {
  width: 7.5rem;
  height: 7.5rem;
  margin: 1.5rem;
}
@media screen and (max-width: 640px) {
  .social-container {
    width: 5.5rem;
    height: 5.5rem;
    margin: 1.25rem;
  }
}
@media screen and (max-width: 400px) {
  .social-container {
    width: 4.5rem;
    height: 4.5rem;
    margin: 1rem;
  }
}

.social-container {
  outline: none;
  border: 0px;
  margin: 0 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ff0;
  line-height: 80px !important;
  text-align: center;
  color: snow;
  font-size: 40px !important;
  box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.social-container:hover {
  opacity: 1;
}
@media screen and (max-width: 640px) {
  .social-container {
    margin: 0 10px;
    width: 60px;
    height: 60px;
    line-height: 60px !important;
    font-size: 30px !important;
  }
}
@media screen and (max-width: 400px) {
  .social-container {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    line-height: 50px !important;
    font-size: 25px !important;
  }
}

.social-container:before {
  position: relative;
  z-index: 1;
}

.social-container:nth-of-type(1) {
  background: #ea4335;
}

.social-container:nth-of-type(2) {
  background: #4867aa;
}

.after-span {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.75s ease-in;
}

/* .social-container:hover {
  } */
.social-container:hover .after-span.ripple {
  transform: scale(1);
  transition: transform 1s ease-out;
}

.login-title {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 640px) {
  .login-title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 400px) {
  .login-title {
    font-size: 2rem;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 60%;
  border-radius: 20px;
  margin: 50px 0;
  height: 60rem;
  position: relative;
}
@media screen and (max-width: 770px) {
  .chat {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .chat {
    width: 95%;
  }
}

.chat * {
  width: 100%;
  display: flex;
}

.input-container {
  height: 10%;
  background-color: #e0e0e0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.input-msg-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-msg {
  height: 80%;
  width: 95%;
  border-radius: 20px;
  border: 0;
  outline: none;
  background-color: white;
  padding: 20px;
  font-size: 1.75rem;
}
@media screen and (max-width: 640px) {
  .input-msg-container {
    width: 85%;
  }
}

p {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.input-msg:focus {
  border: 1px black solid;
}

.send-btn-container {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .send-btn-container {
    width: 15%;
  }
}

.send-btn {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 0;
  outline: none;
  background-color: #0d0630;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.send-btn:hover {
  background-color: white;
  border: 1px solid black;
}

.send-btn:hover .fa-paper-plane {
  color: black;
}

.fa-paper-plane {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  padding-right: 0.5rem;
  color: white;
}

.messages-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  padding: 1rem;
  height: 90%;
  overflow: auto;
}

.message-container {
  margin: 0.75rem;
  width: 95%;
  /* min-height: 4.5rem; */
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.message {
  background-color: #8bbeb2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  min-width: 20rem;
  margin-left: 1rem;
  width: fit-content;
  padding: 0.75rem 1rem;
}

.user-photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background: url(/img/user.png);
  background-position: 50% 50%;
  background-size: cover;
}

.user-photo-img {
  object-fit: cover;
}

.message-info {
  font-size: 1.5rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.signout-btn-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 15rem;
  bottom: -6rem;
  right: 0;
}

.signout-btn-container button {
  background-color: #384e77;
  height: 4rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  outline: none;
  border: 0;
  cursor: pointer;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: white;
}

.signout-btn-container button:hover {
  background-color: #8bbeb2;
  cursor: pointer;
  color: black;
}

.modal-container {
  background: radial-gradient(10% 10% at 10% 10%, #c4c4c4 0%, rgba(0, 0, 0, 0.833333) 0.01%, rgba(0, 0, 0, 0.92) 100%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.user-modal {
  width: 65%;
  height: 50%;
  background-color: #18314f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}

.user-modal * {
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0 1rem;
}

.user-modal h3 {
  font-size: 4rem;
}
@media screen and (max-width: 400px) {
  .user-modal h3 {
    font-size: 3rem;
  }
}

.user-modal p {
  font-size: 2rem;
}
@media screen and (max-width: 400px) {
  .user-modal p {
    font-size: 1.5rem;
  }
}

.modal-user-photo {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background: url(/img/user.png);
  background-position: 50% 50%;
  background-size: cover;
}

.no-show {
  display: none;
}
